.container-splash{
    margin-left: 12%;
    width: 88%;
    background: url('https://www.videogamesartwork.com/sites/default/files/images/image/1377548221/bladesoul-village-by-day.jpg');
    background: red;
}