@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Quattrocento-Regular';
    src: url('../fonts/Quattrocento-Regular.otf') format('opentype');
}

body {
    padding-bottom: 20px;
    background: #f6f6f6;

}

nav ul, li {
    list-style: none;
    margin: 0px;
}

nav{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

td, tr{
    color: #f6f3f3;
}

p {
    color: #f6f3f3;
    font-size: 18px;
    line-height: 32px;
    font-family: Quattrocento-Regular;
    letter-spacing: 0px;
    text-shadow: 1px 1px 3px #000000, -1px -1px 3px #000000, 1px -1px 3px #000000, -1px 1px 3px #000000;
}

.nav-left{
    width: 240px;
    height: 100%;
    background: #1c1b1b;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 101;
}

.nav-logo {
    width: 100%;
    height: 150px;
    background-image: url('../images/website temp logo - invert.png');
    background-position: center;
    background-repeat: no-repeat;
}

.nav-title{
    width: 100%;
    background: transparent;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform:capitalize;
    /*font-variant:small-caps;*/
    padding-top: 14px;
    padding-bottom: 14px;
    text-indent: 10%;
    transition: 0.3s cubic-bezier(0.825, 0.005, 0.175, 0.995);
    color: #bdbdbd;
}

.nav-title:hover{
    width: 100%;
    background: #404040;
    text-indent: 12%;
    color: white;
    cursor: pointer;
    color: #f6f3f3;
}

.active{
    color: #f6f3f3;
    background: #dd5858;
    cursor: default;
}

.active:hover{
    color: #f6f3f3;
    background: #dd5858;
    cursor: default;
    text-indent: 10%;
}

.container-splash {
    position: absolute;
    margin-left: 240px;
    width: calc(100% - 240px);
    height: 100%;
    background-image: url('../images/theVideoGameGallery_12488_4993x3076.jpg');
    background-image: url('../images/theVideoGameGallery_12497_5374x2856.jpg');
    background-image: url('../images/theVideoGameGallery_12494_2500x1553.jpg');
    background-image: url('../images/theVideoGameGallery_12492_2500x1572.jpg');
    background-image: url('../images/theVideoGameGallery_12491_3000x1643.jpg');
    background-size: cover;
    background-position: bottom;
    z-index: 0;
}

.copyright-container {
    position:absolute;
    bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.copyright{
    color: #f6f3f3;
    font-size: 11px;
    line-height: 12px;
    font-family: Helvetica;
    letter-spacing: 0px;
    text-shadow: 1px 1px 3px #000000, -1px -1px 3px #000000, 1px -1px 3px #000000, -1px 1px 3px #000000;
}
.inside-border {
    margin-left: 0.5%;
    margin-top: 0.5%;
    width: 99%;
    height: 98%;
    box-shadow:inset 0px 0px 0px 4px #121112;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-top {
    width: 100%;
    background-image: url('../images/banner8.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 540px;
    margin-top: 80px;
    overflow: hidden;
}
.title-text {
    text-align: center;
    width: 100%;
    margin-top: 150px;
    cursor: default;
}

h1{
    line-height: 60px;
    letter-spacing: 0px;
    font-size: 82px;
    font-family: Oswald-Regular;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 3px #000000, -1px -1px 3px #000000, 1px -1px 3px #000000, -1px 1px 3px #000000;
}
h2{
    line-height: 32px;
    letter-spacing: 0px;
    font-size: 42px;
    font-family: Oswald-Regular;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 3px #000000, -1px -1px 3px #000000, 1px -1px 3px #000000, -1px 1px 3px #000000;
}
hr.style11 {
    width: 470px;
    box-shadow: 1px 1px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 1px #000000;
  background: white;
  height: 2px; 
}
.container-main{

}

.search {
    text-align: left;
    text-indent: 54px;
    width: 1500px;
    height: 56px;
    font-size: 40px;
    text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000;
    display: inline-block;
    font-family: Oswald-Regular;
    background: none;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background-image: url('../images/search-512.png');
    background-repeat: no-repeat;
    background-size: 48px, 48px;
    background-position-y: 4px;
    cursor: text;
    display: inline-block;
    width: 480px;
    max-width: 475px;
    margin-top: -8px;
    margin-bottom: -14px;
}

.search:focus:hover {
  cursor: text;
}

.search:focus {
  z-index: 1;
  cursor: text;
}

