@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Quattrocento-Regular';
    src: url('../fonts/Quattrocento-Regular.otf') format('opentype');
}

body {
    padding-bottom: 20px;
    background: #f6f6f6;
    overflow: auto;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:active{
    text-decoration: none;
    border: none;
}
a:hover{
    text-decoration: none;
}
.info:hover{
    cursor: help;
}
::selection {
  background: rgba(255,255,100, 0.8); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(255,255,100, 0.8); /* Gecko Browsers */
}

h2 {
    color: #4e4e4e;
    font-size: 36px;
    line-height: 10px;
    font-family: Oswald-Regular;
    font-weight: normal;
    letter-spacing: 0px;
    font-weight: normal;
    text-transform: capitalize;
}
table {
    margin-left: -18px;
}
.numbertable{
    background: transparent;
    position: absolute;
    left: 14px;
    width: 20px;
    z-index: 0;
    margin-top: 32px;
}
.numbertable tr{
    height: 36px;
}
.numbertable tr:hover{
    background: transparent;
}
.number{
    font-size: 11px;
    color: #4e4e4e;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
th.headerSortUp:after { 
    font-size: 12px;
    content: '▲';
    margin-left: 2px;
    margin-top: 2px;
    position: absolute
} 
th.headerSortDown:after { 
    font-size: 12px;
    content: '▼';
    margin-left: 2px;
    margin-top: 2px;
    position: absolute
} 
td, tr{
    color: #4e4e4e;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Segoe UI';
    font-weight: normal;
    letter-spacing: 0px;
    border: none !important;
    padding-left: 10px;
    transition: 0.05s;
    animation: fadein linear 0.2s;

}

tbody tr:hover{
    background-color: #e7e7ee;
}

th{
    color: #4e4e4e;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Segoe UI';
    font-weight: bolder;
    letter-spacing: 0px;
    border: none !important;
}
p {
    color: #4e4e4e;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Segoe UI';
    font-weight: normal;
    letter-spacing: 0px;
}

.nav-left{
    z-index: 10;
    width: 200px;
    height: 100%;
    background: #e7e7ee;
    position: fixed;
    top: 0px;
    left: 0px;
}

.nav-logo {
    width: 100%;
    height: 150px;
    background-image: url('../images/website temp logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

.nav-title{
    width: 100%;
    background: transparent;
    font-family: 'Segoe UI';
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    text-indent: 10%;
    transition: 0.3s cubic-bezier(0.825, 0.005, 0.175, 0.995);
    color: #4e4e4e;
}

.nav-title:hover{
    width: 100%;
    background: #f6f6f6;
    text-indent: 12%;
    color: black;
    cursor: pointer;
}

.nav-title-icon{
    position:absolute;
    right: 0px;
    top: 88px;
    height: 44px;
    width: 44px;
    background: #e7e7ee;
    font-family: 'Segoe UI';
    font-weight: normal;
    text-transform: uppercase;
    transition: 0.3s cubic-bezier(0.825, 0.005, 0.175, 0.995);
    image-rendering: pixelated;
}

.nav-title-icon:hover{
    background: #f6f6f6;
    color: black;
    cursor: pointer;
}


.loading{
    z-index: 55;
    top:-1px;
    position:absolute;
    height: 3px;
    background: #fff666;
    box-shadow: 0px 0px 1px #888888;
    transition: 1s;
}
.active{
    background: #fff666;
    cursor: default;
}

.active:hover{
    background: #fff666;
    cursor: default;
    text-indent: 10%;
}

.container {
    position: absolute;
    margin-left: 200px;
    width: calc(100% - 166px);
    max-width: calc(100% - 166px);
    height: 100%;
    z-index: 1;
    -ms-overflow-style: none;
    overflow:scroll;
    overflow-x:hidden;
    right: -34px;
}
.container-bottom{
    position: relative;
    height: 500px;
    width: calc(100% - 166px);
    max-width: calc(100% - 166px);
    -ms-overflow-style: none;
    background: transparent;
    margin-left: 200px;
    top: 160px;
}
.container-clanbanner{
    z-index: 1;
    position: fixed;
    height: 150px;
    min-height: 150px;
    width: calc(100%);
    max-width: calc(100%);
    background: #e7e7ee;
    opacity: 0.7;
    margin-left: 200px;
    top: 0px;
    color: black;
}
.container-avatars{
    position: absolute;
    margin-left: 200px;
    width: calc(100% - 166px);
    max-width: calc(100% - 166px);
    height: 100%;
    -ms-overflow-style: none;
    overflow:scroll;
    overflow-x:hidden;
    right: -34px;
    background: transparent;
}

.container-avatars img{
    width: 222px;
    height: 365px;
    float: left;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.dbstatus{
    font-size: 14px;
}
.container-dbstatus{
    /*text for wheter clan entry was updated in database CURRENTLY REMOVED*/
    position: absolute;
    width: 100%;
    text-align: left;
    margin-left: 36px;
    top: -1000px;
}

.container-splash {
    position: absolute;
    margin-left: 200px;
    width: calc(100% - 200px);
    height: 100%;
    background-image: url('../images/splash4.jpg');
    /*background-image: url('../images/theVideoGameGallery_12497_5374x2856.jpg');
    background-image: url('../images/theVideoGameGallery_12494_2500x1553.jpg');
    background-image: url('../images/theVideoGameGallery_12492_2500x1572.jpg');
    background-image: url('../images/theVideoGameGallery_12491_3000x1643.jpg');
    background-image: url('../images/theVideoGameGallery_12489_4961x2976.jpg');*/
    background-size: cover;
    background-position: bottom;
    z-index: 0;
}
.indentTable{
    margin-left: 0px;
    width: 96%;
}
.capitalize{
    text-transform: capitalize;
}
.indent{
    margin: 10px;
    margin-left: 30px;
}
.copyright-container {
    position:absolute;
    bottom: 1px;
    margin-left: 15px;
    margin-right: 5px;
    text-align: center;
}

.copyright{
    color: #f6f3f3;
    font-size: 11px;
    line-height: 12px;
    font-family: 'Segoe UI';
    letter-spacing: 0px;
    text-shadow: 1px 1px 3px #000000, -1px -1px 3px #000000, 1px -1px 3px #000000, -1px 1px 3px #000000;
}
.inside-border {
    width: calc(100% - 200px);
    height: calc(100% + 5px);
    margin-top: -5px;
    box-shadow:inset 1px 1px 3px 2px rgba(0,0,0, 0.4);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.title-text-medium {
    margin-left: 224px;
    position: fixed;
    z-index: 2;
    padding-right: 290px;
    width: 100%;
    margin-top: -10px;
    cursor: default;
    text-align: center;
}

.title-text {
    text-align: center;
    width: 100%;
    margin-top: 150px;
    cursor: default;
}
.title-text-sub {
    margin-right: auto;
    margin-left: auto;
    width: 475px;
    height: 50px;
    cursor: default;
}
.arrow{
    text-indent: 0px;
    height: 56px;
    text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000;
    font-family: Oswald-Regular;
    background: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-size: 48px, 48px;
    background-position-y: 4px;
    cursor: text;
    transition: 0.2s;
}
.arrow2{
    position:absolute;
    background: none;
    height: 56px;
    border: none;
    cursor: pointer;
    cursor: text;
    margin-left: -475px;
    margin-top: -8px;
    width: 48px;
}
h1{
    line-height: 60px;
    letter-spacing: 0px;
    font-size: 82px;
    font-family: Oswald-Regular;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000;
}
.h6{
    width: 475px;
    position: fixed;
    letter-spacing: 0px;
    font-size: 48px;
    font-family: Oswald-Regular;
    text-transform: uppercase;
    color: white;
    padding-left: 56px;
    margin-left: 0px;
    text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000;
    transition: 0.2s;
}
.h6:hover{
    width: 475px;
    position: fixed;
    text-indent: 12px;
    font-size: 48px;
    font-family: Oswald-Regular;
    text-transform: uppercase;
    color: #fff666;
    text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000;
}
hr.style11 {
    width: 470px;
    box-shadow: 1px 1px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 1px #000000;
    background: white;
    height: 2px; 
}
hr.style13 {
    width: 470px;
    box-shadow: 1px 1px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 1px #000000;
    background: white;
    height: 2px; 
    margin-left: 0px;
}
hr.style12 {
    width: 300px;
    background: #e7e7ee;
    height: 2px; 
    margin-left: 0px;
}
.search {
    text-align: left;
    text-indent: 54px;
    width: 1500px;
    height: 56px;
    font-size: 40px;
    text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000;
    display: inline-block;
    font-family: Oswald-Regular;
    background: none;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background-image: url('../images/search-512.png');
    background-repeat: no-repeat;
    background-size: 48px, 48px;
    background-position-y: 4px;
    cursor: text;
    display: inline-block;
    width: 480px;
    max-width: 475px;
    margin-top: -8px;
    margin-bottom: -14px;
}

.search:focus:hover {
  cursor: text;
}

.search:focus {
  z-index: 1;
  cursor: text;
}

.container-box{
    float: left;
    width: 44%;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    text-align: justify;
}
.container-class-amount{
    background: transparent;
    position: absolute;
    width: 42%;
    right: 60px;
    top: 24px;
    height: 180px;
}

.class-tile{
    display: inline-table;
    float: none;
    text-align: center;
    background: transparent;
    width: 19.2%;
    height: 110px;
    z-index: 50;
}

.class-text{
    line-height: 0px;
    margin-top: -36px;
    letter-spacing: 0px;
    font-size: 44px;
    font-family: Oswald-Regular;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 3px #000000, -1px -1px 3px #000000, 1px -1px 3px #000000, -1px 1px 3px #000000;

}

.general-data{
    margin-left: 16px;
    height: 220px;
}

.right{
    float: right;
    margin-right: 10%;
}
.gear-milestones{
    position:absolute;
    width: 25%;
    top: 72px;
    left: 30%;
    height: 130px;
}

.textarea-big{
    width: 500px !important;
    height: 150px !important;
}

.nav-left-bottom{
    z-index: 11;
    width: 200px;
    background: #e7e7ee;
    position: fixed;
    bottom: 10px;
    left: 0px;
}

.nav-title-small{
    z-index: 11;
    width: 100%;
    background: transparent;
    font-family: 'Segoe UI';
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    text-indent: 10%;
    transition: 0.3s cubic-bezier(0.825, 0.005, 0.175, 0.995);
    color: #4e4e4e;
}

.nav-title-small:hover{
    z-index: 11;
    width: 100%;
    background: #f6f6f6;
    text-indent: 12%;
    color: black;
    cursor: pointer;
}

.noborder{
    border:0;
}

.nodisplay{
    display: none;
}

/*Copied from SpinKit - loading animation*/
.sk-cube-grid {
  width: 50px;
  height: 50px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 29%;
  height: 29%;
  margin: 1px;
  box-shadow: 1px 1px #4e4e4e;
  background-color: #fff666;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


/* https://codepen.io/nw/pen/udkIB */
.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
  
	background-color: #fff666;
	color: #333;
  
	text-indent: 22px;
    border: 1px solid #333;
}

.buttonDownload:hover {
	background-color: #333;
	color: #fff666;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 14px;
	height: 2px;
    margin-top: 6px;
	border-style: solid;
	border-width: 0px 0px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -6px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #fff666;
}

.buttonDownload:hover:after {
	border-top-color: #fff666;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}