@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Quattrocento-Regular';
    src: url('../fonts/Quattrocento-Regular.otf') format('opentype');
}

body {
    padding-bottom: 20px;
    background: #f6f6f6;
    overflow: hidden;
}

a:hover{
    text-decoration: none;
}

::selection {
  background: rgba(255,255,100, 0.8); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(255,255,100, 0.8); /* Gecko Browsers */
}

h2 {
    color: #4e4e4e;
    font-size: 36px;
    line-height: 10px;
    font-family: Oswald-Regular;
    font-weight: normal;
    letter-spacing: 0px;
    font-weight: normal;
    text-transform: capitalize;
}
table {
    margin-left: -18px;
}
.numbertable{
    background: transparent;
    position: absolute;
    left: 12px;
    width: 20px;
    z-index: 0;
    margin-top: 32px;
}
.numbertable tr{
    height: 36px;
}
.numbertable tr:hover{
    background: transparent;
}
.number{
    font-size: 11px;
    color: #4e4e4e;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
th.headerSortUp:after { 
    font-size: 12px;
    content: '▲';
    margin-left: 2px;
    margin-top: 2px;
    position: absolute
} 
th.headerSortDown:after { 
    font-size: 12px;
    content: '▼';
    margin-left: 2px;
    margin-top: 2px;
    position: absolute
} 
td, tr{
    color: #4e4e4e;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Segoe UI';
    font-weight: normal;
    letter-spacing: 0px;
    border: none !important;
    padding-left: 10px;
    transition: 0.05s;
}

tbody tr:hover{
    background-color: #e7e7ee;
}

th{
    color: #4e4e4e;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Segoe UI';
    font-weight: bolder;
    letter-spacing: 0px;
    border: none !important;
}
p {
    color: #4e4e4e;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Segoe UI';
    font-weight: normal;
    letter-spacing: 0px;
}

.nav-left{
    width: 200px;
    height: 100%;
    background: #e7e7ee;
    position: fixed;
    top: 0px;
    left: 0px;
}

.nav-logo {
    width: 100%;
    height: 150px;
    background-image: url('../images/website temp logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

.nav-title{
    width: 100%;
    background: transparent;
    font-family: 'Segoe UI';
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    text-indent: 10%;
    transition: 0.3s cubic-bezier(0.825, 0.005, 0.175, 0.995);
    color: #4e4e4e;
}

.nav-title:hover{
    width: 100%;
    background: #f6f6f6;
    text-indent: 12%;
    color: black;
    cursor: pointer;
}

.loading{
    z-index: 5;
    top:-1px;
    position:absolute;
    height: 3px;
    background: #fff666;
    box-shadow: 0px 0px 1px #888888;
    transition: 1s;
}
.active{
    background: #fff666;
    cursor: default;
}

.active:hover{
    background: #fff666;
    cursor: default;
    text-indent: 10%;
}

.container {
    position: absolute;
    margin-left: 200px;
    width: calc(100% - 166px);
    max-width: calc(100% - 166px);
    height: 100%;
    z-index: 1;
    -ms-overflow-style: none;
    overflow:scroll;
    overflow-x:auto;
    right: -34px;
}

.container-splash {
    position: absolute;
    margin-left: 200px;
    width: calc(100% - 200px);
    height: 100%;
    /*background-image: url('../images/splash4.jpg');
    background-image: url('../images/theVideoGameGallery_12497_5374x2856.jpg');
    background-image: url('../images/theVideoGameGallery_12494_2500x1553.jpg');
    background-image: url('../images/theVideoGameGallery_12492_2500x1572.jpg');
    background-image: url('../images/theVideoGameGallery_12491_3000x1643.jpg');
    background-image: url('../images/theVideoGameGallery_12489_4961x2976.jpg');*/
    background-size: cover;
    background-position: bottom;
    z-index: 0;
}

.copyright-container {
    position:absolute;
    bottom: 1px;
    margin-left: 15px;
    margin-right: 5px;
    text-align: center;
}

.copyright{
    color: #f6f3f3;
    font-size: 11px;
    line-height: 12px;
    font-family: 'Segoe UI';
    letter-spacing: 0px;
    text-shadow: 1px 1px 3px #000000, -1px -1px 3px #000000, 1px -1px 3px #000000, -1px 1px 3px #000000;
}
.inside-border {
    width: calc(100% - 200px);
    height: calc(100% + 5px);
    margin-top: -5px;
    box-shadow:inset 5px 2px 1px 1px #e7e7ee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-top {
    width: 100%;
    background-image: url('../images/banner8.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 540px;
    margin-top: 80px;
    overflow: hidden;
}
.title-text {
    text-align: center;
    width: 100%;
    margin-top: 150px;
    cursor: default;
}

h1{
    line-height: 60px;
    letter-spacing: 0px;
    font-size: 82px;
    font-family: Oswald-Regular;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000;
}
hr.style11 {
    width: 470px;
    box-shadow: 1px 1px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 1px #000000;
    background: white;
    height: 2px; 
}
hr.style12 {
    width: 300px;
    background: #e7e7ee;
    height: 2px; 
    margin-left: 0px;
}
.search {
    text-align: left;
    text-indent: 54px;
    width: 1500px;
    height: 56px;
    font-size: 40px;
    text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000;
    display: inline-block;
    font-family: Oswald-Regular;
    background: none;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background-image: url('../images/search-512.png');
    background-repeat: no-repeat;
    background-size: 48px, 48px;
    background-position-y: 4px;
    cursor: text;
    display: inline-block;
    width: 480px;
    max-width: 475px;
    margin-top: -8px;
    margin-bottom: -14px;
}

.search:focus:hover {
  cursor: text;
}

.search:focus {
  z-index: 1;
  cursor: text;
}


.container-class-amount{
    background: transparent;
    position: absolute;
    width: 42%;
    right: 60px;
    top: 24px;
    height: 180px;
}

.class-tile{
    display: inline-table;
    float: none;
    text-align: center;
    background: transparent;
    width: 19.2%;
    height: 110px;
    z-index: 50;
}

.class-text{
    line-height: 0px;
    margin-top: -36px;
    letter-spacing: 0px;
    font-size: 44px;
    font-family: Oswald-Regular;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 3px #000000, -1px -1px 3px #000000, 1px -1px 3px #000000, -1px 1px 3px #000000;

}

.general-data{
    margin-left: 16px;
    height: 220px;
}

.gear-milestones{
    position:absolute;
    width: 25%;
    top: 72px;
    left: 30%;
    height: 130px;
}

.textarea-big{
    width: 500px !important;
    height: 150px !important;
}