
@{
    ViewBag.Title = "About";
}

<div class="container">
    <h2>What is BNSClans?</h2>
    <p>BNSClans is a site made to help players organize their clans. We read of your stats, gear, class and more to determine optimal raid groups, an overview of your members and much more.</p>
    <br />
    <h2>How does it work?</h2>
    <p>The first step is collecting player data. You need to enter the names of your members and with this information we can gather all data needed through the F2 page.</p>
    <p>Once all data has been collected you can easily create organize raid groups based on your clan list or track the activity in your clan.</p>
    <h2>Features</h2>
    <ul>
        <li>Overview of clan and its members</li>
        <li>Activity tracker of clan members</li>
        <li>Easily set up optimal clan raids</li>
        <li>Simple to use dkp system</li>
        <li>Easily navigate registered clans</li>
        <li>Custom group maker for raids or other groups</li>
        <li>Discord Bot to check overview of a clan with a simple command</li>
        <li>Compare clans</li>

    </ul>
    <h2>What is this score?</h2>
    <p>Score is a parameter that keeps track of all your stats to figure out how strong a character is. AP is not the only way to measure a characters strength. This score does not count in items effects.</p>
    <br/>
    <h2>Donations</h2>
    <p>You can always mail donations to "Semperdickus" in-game (EU-group 1). Real money is for helping real people, I am not from the earthen realm.</p>
    <h2>Credits</h2>
    <p>I'd like to thank my school for allowing such niche project and giving me good grades for it.</p>
    <p>I'd like to also thank students and teachers who helped me.</p>
    <p>I'd like to thank reliance and my bns friends for making bns fun.</p>
    <p>I'd like to thank google for allowing internet searches and teaching me tons of new stuff.</p>
</div>