
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="container-box">
        <h2>What is BNSClans?</h2>
        <hr class="style12" />
        <p>BNSClans is a site made to help players organize their Blade & Soul clans and explore other clans. </p>
    </div>
    <div class="container-box">
        <h2>How does it work?</h2>
        <hr class="style12" />
        <p>
            After searching a clan name we go through a database to verify which players are in said clan. We 
            then update all data by comparing it to the live F2 page.
        </p>
    </div>
    <div class="container-box">

        <h2>Features</h2>
        <hr class="style12" />
            <ul>
                <li><p>Overview of clan, its members and their stats</p></li>
                <li><p>Compare clans and view rankings</p></li>
                <li><p>Overview of all registered clans</p></li>
                <li><p>Export and view clan avatars</p></li>
                <li><p>Sort tables to your own needs</p></li>
                <li><p>Filter shown stats and equipment</p></li>
                <li><p>Easily add members and update clans</p></li>
            </ul>
        <p><strong>Coming Soon</strong> (if the demand is there):</p>
        <ul>
            <li><p>Easily set up optimal raid groups</p></li>
            <li><p>Discord Bot to check overview of a clan with a simple command</p></li>
            <li><p>Activity tracker of clan members</p></li>
        </ul>
        <p>
            Feel free to sent me more suggestions through <a href="https://www.reddit.com/message/compose/?to=Morning_Woody">Reddit</a>, 
            Discord (Semperdickus#0316), or in-game "Semperdickus" (EU).
        </p>
    </div>
    <div class="container-box">
        <h2>What is this score?</h2>
        <hr class="style12" />

        <p>
            Score is calculated by taking into account all of your offensive stats and parsing it against 
            an average attack multiplier. You can see it as Coffee Score or DPS when holding LMB. 
            Item effects don't influence the calculation.
        </p>
        <br />
    </div>
    <div class="container-box">
        <h2>Donations</h2>
        <hr class="style12" />

        <p>
            You can always mail donations to "Semperdickus" in-game (Europe Group 1). 
            Real money is for helping real people, I am not from the earthen realm.
        </p>
    </div>
    <div class="container-box">
        <h2>Credits</h2>
        <hr class="style12" />

        <p>I'd like to thank my school for allowing such niche project and giving me good grades for it.</p>
        <p>I'd like to also thank students and teachers who helped me.</p>
        <p>I'd like to thank reliance and my bns friends for making bns fun.</p>
        <p>I'd like to thank google for allowing internet searches and teaching me tons of new stuff.</p>
    </div>
</div>