@model Character
@using ClanManager.Models
@{
    ViewBag.Title = "index";
}

@using (Html.BeginForm())
{

<div class="container-top">
    <div class="title-text">
        <h1>Search a clan</h1>
        <hr class="style11" />
        @Html.TextBoxFor(u => u.Name, new { @class = "search", placeholder = "Enter clanname here", maxlength = "24" })
        @Html.ValidationMessageFor(u => u.Name)
        <hr class="style11" />

    </div>
</div>
<div class="container">
    <h2>What is BNSClans?</h2>
    <p>BNSClans is a site made to help players organize their clans. We read of your stats, gear, class and more to determine optimal raid groups, an overview of your members and much more.</p>
    <br />
    <h2>How does it work?</h2>
    <p>The first step is collecting player data. You need to enter the names of your members and with this information we can gather all data needed through the F2 page.</p>
    <p>Once all data has been collected you can easily create organize raid groups based on your clan list or track the activity in your clan.</p>

</div>
}