@using ClanManager.Models

<!DOCTYPE html>
<html>
<head>
    @{             
        if (Data.selectedClan.Members != null)
        {
            List<Character> emptylist = new List<Character>();
            emptylist.Add(new Character());
            Data.selectedClan = new Clan(Data.selectedClan.Name, emptylist);
            Data.selectedClan.Members.Clear();
        }
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ClanManager</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Sintony" rel="stylesheet"> 
    <script src="~/scripts/pageLoadReset.js"></script>

</head>
<body>
    <div class="nav-left">
        <a href="~/Home/Index"><div class="nav-logo"></div></a>
        <a href="~/Home/Index"><div class="nav-title active">home</div></a>
            <div class="nav-title">Raids</div>
            <div class="nav-title">Activity</div>
            <div class="nav-title">LeaderBoards</div>
            <div class="nav-title">about</div>
    </div>
    @RenderBody()
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>